.header{
    width: 100%;
    padding: 5%;
    background-color: #212529;
    display: inline-block;

}
.header h1{
    color: white;
    width: 100%!important;
}

.blog-post{
    width: 65%;
    margin: 5% 3% 3% 3%;
    float: left;
}
.photo_and_link{
    width: 28%;
    margin: 4% 0% 3% 0%;
    float: left;
}
.photo_and_link img{
    width: 80%;
    height: auto;
    float: left;
}
.blog-post.project{
    width: 90%;
    height: auto;
}
.blog-post.project h3{
    width: 100%!important;
    margin-bottom: 3%;
}
.card.text-center{
    width: 100%;
}
.mobileBar{
    display: none;
    width: 100%;
    hegiht: auto;
}
.mobileBar img{
    margin-left: 3%;
    margin-top: 3%;
    width: 27%;
    hegith: auto;
    float: left;
}
.p-4.mb-3.bg-light.rounded{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 3%;
}
.dropdown{
    margin-top: -13%;
    float: left;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}
hr{
    display: none;
}

@media (max-width: 568px) {
    .clearFloat.First{
        display: block;
    }
    .photo_and_link{
        display: none;
    }
    .mobileBar{
        display: inline-block;
    }
    .blog-post{
        width:90%;
    }
    .p-4.mb-3.bg-light.rounded{
        width: 70%;
        height: auto;
        float: left;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
        background-color: white!important;
    }
    hr{
        display: block;
    }
}